<ons-page>
    <div class="login_center">
        <form [formGroup]="form" (ngSubmit)="login(form.value)">
            <ons-card>
                <div class="title">
                    Login
                </div>
                <div class="content">
                    <ons-row vertical-align="center">
                        <ons-input float id="username" name="username" placeholder="Username" [formControl]="form.controls['username']" class="form-control"></ons-input>
                    </ons-row>
                    <ons-row vertical-align="center">
                        <ons-input float id="password" name="password" placeholder="Password" [formControl]="form.controls['password']" class="form-control"></ons-input>
                    </ons-row>
                    <ons-row>
                        <ons-button type="submit" (click)="login(form.value)">Login</ons-button>
                    </ons-row>
                    <ons-row>
                        <ons-button (click)="loginWithGoogle()">Login with Google</ons-button>
                    </ons-row>
                </div>
            </ons-card>
        </form>
    </div>
</ons-page>