<ons-list>
    <ons-list-item *ngFor="let notif of notificationStore.notifications">
        <div>
            {{notif.subject}}
        </div>
    </ons-list-item>
</ons-list>

<!-- <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
    <div fxFlex="grow 75" fxLayoutAlign="start center">
        <button mat-raised-button color="primary" type="submit" (click)="newNotification()" i18n="@@new">
            <mat-icon>add</mat-icon> New
        </button>
    </div>
    <div fxFlex="grow 25" fxLayoutAlign="end center">
        <button mat-button (click)="moreNotifications()" i18n="@@more">
            <mat-icon>navigate_next</mat-icon> More
        </button>
    </div>
</div>

<mat-divider style="margin-top: 15px;"></mat-divider>
<mat-accordion>
    <mat-expansion-panel *ngFor="let notif of notificationStore.notifications" [expanded]="false" hideToggle="true">
        <mat-expansion-panel-header collapsedHeight="140px;" expandedHeight="140px;">
            <div fxLayout="row" fxFlexFill fxLayoutAlign="start start">
                <div fxFlex="grow 20" style="padding: 5px;">
                    {{notif.subject}}
                </div>
                <div fxFlex="grow 10">
                    <mat-form-field appearance="standard" class="patata">
                        <mat-label>Due date</mat-label>
                        <input matInput placeholder="Placeholder" value="{{notif.dueDate}}" readonly="true">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
                </div>
                <div fxFlex="grow 30">
                    <mat-form-field appearance="standard">
                        <mat-label>Labeled as</mat-label>
                        <mat-chip-list #labelList>
                            <mat-chip *ngFor="let label of notif.labels">
                                {{label}}
                            </mat-chip>
                            <input [matChipInputFor]="labelList" />
                        </mat-chip-list>
                    </mat-form-field>|
                </div>
            </div>
        </mat-expansion-panel-header>

        {{notif.body}}

    </mat-expansion-panel>
</mat-accordion> -->